node-red.json
[
  {
    "id": "61f824452407f1ed",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "ec60dda67d3ed142",
    "type": "function",
    "z": "61f824452407f1ed",
    "name": "preparation",
    "func": "const payload = msg.payload.uplink_message;\n\n// Extraction des valeurs depuis le payload décodé\nconst hr = { \"payload\": payload.decoded_payload.heart_rate };\nconst hrv = { \"payload\": payload.decoded_payload.hrv };\nconst sensorValue = { \"payload\": payload.decoded_payload.raw_sensor };\n\n// Stocker les données complètes pour la DB\nmsg.fullData = {\n    device_id: msg.payload.end_device_ids.device_id,\n    timestamp: new Date(msg.payload.received_at),\n    heart_rate: payload.decoded_payload.heart_rate,\n    hrv: payload.decoded_payload.hrv,\n    raw_sensor: payload.decoded_payload.raw_sensor,\n    rssi: payload.rx_metadata[0]?.rssi || null,\n    snr: payload.rx_metadata[0]?.snr || null\n};\n\n// Retourner les messages pour les gauges, graphiques et DB\nreturn [hr, hrv, sensorValue, msg];",
    "outputs": 4,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 140,
    "wires": [
      ["1878d2d639ac8673", "1e744b6012cb1504", "ae5e8650664ec1d1"],
      ["9ab91ede0ff607af", "89ee1f3d137a8660"],
      ["b16dcb12cad67f61", "a31aadc88731c64b"],
      ["0ae9359b8e64b0b2", "1e59453d60586686", "fde494bce6ddf1de"]
    ]
  },
  {
    "id": "b8ea9b30f64222a1",
    "type": "debug",
    "z": "61f824452407f1ed",
    "name": "msg.payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 240,
    "wires": []
  },
  {
    "id": "0ae9359b8e64b0b2",
    "type": "function",
    "z": "61f824452407f1ed",
    "name": "preparForDB",
    "func": "// Vérifier que fullData existe\nif (!msg.fullData) {\n    return null;\n}\n\n// Préparer les données pour InfluxDB\nconst data = msg.fullData;\n\n// Format simple pour node-red-contrib-influxdb\nmsg.payload = {\n    heart_rate: data.heart_rate,\n    hrv: data.hrv,\n    raw_sensor: data.raw_sensor,\n    rssi: data.rssi || 0,\n    snr: data.snr || 0,\n    device_id: data.device_id\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 400,
    "wires": [["80b06e0bb2b8752e", "ca53f46e8a497fe7"]]
  },
  {
    "id": "80b06e0bb2b8752e",
    "type": "debug",
    "z": "61f824452407f1ed",
    "name": "Database Ready",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 400,
    "wires": []
  },
  {
    "id": "ca53f46e8a497fe7",
    "type": "influxdb out",
    "z": "61f824452407f1ed",
    "influxdb": "c4b71653a7890fb1",
    "name": "InfluxDB ECG",
    "measurement": "ecg_monitoring",
    "precision": "ms",
    "retentionPolicy": "",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "x": 1020,
    "y": 440,
    "wires": []
  },
  {
    "id": "ae5e8650664ec1d1",
    "type": "debug",
    "z": "61f824452407f1ed",
    "name": "Data Before Alerts",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "msg",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 220,
    "wires": []
  },
  {
    "id": "1e59453d60586686",
    "type": "function",
    "z": "61f824452407f1ed",
    "name": "check_alerts",
    "func": "// Vérifier que fullData existe\nif (!msg.fullData) {\n    return null;\n}\n\nconst hr = msg.fullData.heart_rate;\nconst hrv = msg.fullData.hrv;\nconst sensor = msg.fullData.raw_sensor;\nconst deviceId = msg.fullData.device_id;\n\nlet alerts = [];\nlet alertsForDB = [];\n\n// Vérifier la bradycardie\nif (hr < 40 && hr > 0) {\n    alerts.push('⚠️ BRADYCARDIE: ' + hr + ' BPM');\n    alertsForDB.push({ alert_type: 'bradycardia', message: 'Bradycardie détectée: ' + hr + ' BPM', heart_rate: hr, hrv: hrv, device_id: deviceId });\n}\n\n// Vérifier la tachycardie\nif (hr > 180) {\n    alerts.push('⚠️ TACHYCARDIE: ' + hr + ' BPM');\n    alertsForDB.push({ alert_type: 'tachycardia', message: 'Tachycardie détectée: ' + hr + ' BPM', heart_rate: hr, hrv: hrv, device_id: deviceId });\n}\n\n// Vérifier HRV anormal\nif (Math.abs(hrv) > 100) {\n    alerts.push('⚠️ HRV ANORMAL: ' + hrv + ' ms');\n    alertsForDB.push({ alert_type: 'abnormal_hrv', message: 'HRV anormal: ' + hrv + ' ms', heart_rate: hr, hrv: hrv, device_id: deviceId });\n}\n\n// Vérifier capteur\nif (sensor < 0 || sensor > 1023) {\n    alerts.push('⚠️ CAPTEUR DÉFECTUEUX: ' + sensor);\n    alertsForDB.push({ alert_type: 'sensor_error', message: 'Capteur défectueux: ' + sensor, heart_rate: hr, hrv: hrv, device_id: deviceId });\n}\n\nif (alerts.length > 0) {\n    // Message pour affichage UI\n    const uiMsg = { payload: alerts.join(' | ') };\n    // Message pour base de données\n    const dbMsg = { alertsForDB: alertsForDB };\n    return [uiMsg, dbMsg];\n}\n\nreturn [null, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 300,
    "wires": [
      ["ea14017fc2ff5a35", "5d8b83528f8d4e94", "38fb9a21a7939338"],
      ["69c0bf61d28ea7c1"]
    ]
  },
  {
    "id": "ea14017fc2ff5a35",
    "type": "debug",
    "z": "61f824452407f1ed",
    "name": "Alerts",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 320,
    "wires": []
  },
  {
    "id": "69c0bf61d28ea7c1",
    "type": "function",
    "z": "61f824452407f1ed",
    "name": "prepareAlertForDB",
    "func": "// Vérifier que les alertes existent\nif (!msg.alertsForDB || msg.alertsForDB.length === 0) {\n    return null;\n}\n\n// Préparer les messages pour InfluxDB - envoyer chaque alerte séparément\nconst messages = msg.alertsForDB.map(alert => {\n    const alertMsg = {\n        // Only numeric fields for InfluxDB\n        payload: {\n            heart_rate: alert.heart_rate,\n            hrv: alert.hrv,\n            alert_type: alert.alert_type,\n            device_id: alert.device_id,\n        },\n        // Tags as separate property (string metadata)\n        tags: {\n            alert_type: alert.alert_type,\n            device_id: alert.device_id,\n            alert_name: alert.message  // Store alert message/name as tag\n        }\n    };\n    return alertMsg;\n});\n\n// Retourner les messages individuellement\nreturn messages;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 990,
    "y": 360,
    "wires": [["9eb9ac78ba74e48a", "1a49d97b6b5a28d2"]]
  },
  {
    "id": "9eb9ac78ba74e48a",
    "type": "split",
    "z": "61f824452407f1ed",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "auto",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 1150,
    "y": 360,
    "wires": [["1a49d97b6b5a28d2"]]
  },
  {
    "id": "1a49d97b6b5a28d2",
    "type": "influxdb out",
    "z": "61f824452407f1ed",
    "influxdb": "c4b71653a7890fb1",
    "name": "InfluxDB Alerts",
    "measurement": "ecg_alerts",
    "precision": "ms",
    "retentionPolicy": "",
    "database": "",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "",
    "bucket": "",
    "x": 1320,
    "y": 360,
    "wires": []
  },
  {
    "id": "5d8b83528f8d4e94",
    "type": "ui_toast",
    "z": "61f824452407f1ed",
    "position": "top right",
    "displayTime": "5",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "topic": "Alerte Santé",
    "name": "",
    "x": 990,
    "y": 240,
    "wires": []
  },
  {
    "id": "38fb9a21a7939338",
    "type": "ui_text",
    "z": "61f824452407f1ed",
    "group": "98c50b7b55f9f055",
    "order": 1,
    "width": 12,
    "height": 2,
    "name": "",
    "label": "🚨 Alertes Actives",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "alert-text",
    "x": 990,
    "y": 280,
    "wires": []
  },
  {
    "id": "fde494bce6ddf1de",
    "type": "function",
    "z": "61f824452407f1ed",
    "name": "Format Email",
    "func": "// Vérifier que fullData existe et que nous avons des alertes\nif (!msg.fullData) {\n    return null;\n}\n\nconst hr = msg.fullData.heart_rate;\nconst hrv = msg.fullData.hrv;\nconst sensor = msg.fullData.raw_sensor;\nconst deviceId = msg.fullData.device_id;\nconst timestamp = new Date().toLocaleString('fr-FR');\n\nlet alertMessages = [];\n\nif (hr < 40 && hr > 0) {\n    alertMessages.push(`⚠️ BRADYCARDIE: ${hr} BPM`);\n}\nif (hr > 180) {\n    alertMessages.push(`⚠️ TACHYCARDIE: ${hr} BPM`);\n}\nif (Math.abs(hrv) > 100) {\n    alertMessages.push(`⚠️ HRV ANORMAL: ${hrv} ms`);\n}\nif (sensor < 0 || sensor > 1023) {\n    alertMessages.push(`⚠️ CAPTEUR DÉFECTUEUX: ${sensor}`);\n}\n\nif (alertMessages.length === 0) {\n    return null;\n}\n\nconst alertType = alertMessages[0].includes('BRADYCARDIE') ? 'Bradycardie' : \n                   alertMessages[0].includes('TACHYCARDIE') ? 'Tachycardie' : \n                   alertMessages[0].includes('HRV') ? 'HRV Anormal' : 'Alerte Capteur';\n\nmsg.to = 'tial3078@gmail.com';\nmsg.subject = `🚨 Alerte ECG - ${alertType}`;\nmsg.payload = `<html><body style=\"font-family: Arial, sans-serif;\">\n    <h2 style=\"color: #d9534f;\">🚨 Alerte ECG Détectée</h2>\n    <p><strong>Timestamp:</strong> ${timestamp}</p>\n    <p><strong>Appareil:</strong> ${deviceId}</p>\n    <hr>\n    <h3>Alertes:</h3>\n    <ul>\n        ${alertMessages.map(m => `<li style=\"color: #d9534f; font-weight: bold;\">${m}</li>`).join('')}\n    </ul>\n    <hr>\n    <h4>Valeurs Actives:</h4>\n    <ul>\n        <li><strong>Fréquence Cardiaque:</strong> ${hr} BPM</li>\n        <li><strong>Variabilité Cardiaque:</strong> ${hrv} ms</li>\n        <li><strong>Capteur Brut:</strong> ${sensor}</li>\n    </ul>\n    </body></html>`;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1050,
    "y": 60,
    "wires": [["2bcc777ec31ea0d4", "34b4e5418e89cf84"]]
  },
  {
    "id": "2bcc777ec31ea0d4",
    "type": "debug",
    "z": "61f824452407f1ed",
    "name": "Email Ready to Send",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "msg",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1350,
    "y": 20,
    "wires": []
  },
  {
    "id": "34b4e5418e89cf84",
    "type": "e-mail",
    "z": "61f824452407f1ed",
    "server": "smtp.gmail.com",
    "port": "465",
    "authtype": "BASIC",
    "saslformat": false,
    "token": "oauth2Response.access_token",
    "secure": true,
    "tls": true,
    "name": "tial3078@gmail.com",
    "dname": "gmail.com",
    "x": 1290,
    "y": 60,
    "wires": []
  },
  {
    "id": "1878d2d639ac8673",
    "type": "ui_gauge",
    "z": "61f824452407f1ed",
    "name": "",
    "group": "8194346a87c815c7",
    "order": 0,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Fréquence Cardiaque",
    "label": "BPM",
    "format": "{{value}}",
    "min": 0,
    "max": "200",
    "colors": ["#ff0000", "#00b500", "#ff0000"],
    "seg1": "40",
    "seg2": "180",
    "diff": false,
    "className": "",
    "x": 820,
    "y": 20,
    "wires": []
  },
  {
    "id": "9ab91ede0ff607af",
    "type": "ui_gauge",
    "z": "61f824452407f1ed",
    "name": "",
    "group": "8194346a87c815c7",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Variabilité Cardiaque (HRV)",
    "label": "ms",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": ["#ca3838", "#00b500", "#ca3838"],
    "seg1": "-50",
    "seg2": "50",
    "diff": false,
    "className": "",
    "x": 820,
    "y": 60,
    "wires": []
  },
  {
    "id": "80140698539834bb",
    "type": "mqtt in",
    "z": "61f824452407f1ed",
    "name": "TTN Uplink",
    "topic": "v3/+/devices/+/up",
    "qos": "0",
    "datatype": "json",
    "broker": "f458178b6f51e9a7",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 250,
    "y": 140,
    "wires": [["ec60dda67d3ed142", "b8ea9b30f64222a1"]]
  },
  {
    "id": "b16dcb12cad67f61",
    "type": "ui_gauge",
    "z": "61f824452407f1ed",
    "name": "",
    "group": "8194346a87c815c7",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Capteur ECG Brut",
    "label": "valeur",
    "format": "{{value}}",
    "min": 0,
    "max": "1023",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 840,
    "y": 100,
    "wires": []
  },
  {
    "id": "1e744b6012cb1504",
    "type": "ui_chart",
    "z": "61f824452407f1ed",
    "name": "",
    "group": "61c63e49f94550be",
    "order": 1,
    "width": 12,
    "height": 5,
    "label": "Évolution Fréquence Cardiaque",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aucune donnée",
    "dot": true,
    "ymin": "30",
    "ymax": "200",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1310,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "89ee1f3d137a8660",
    "type": "ui_chart",
    "z": "61f824452407f1ed",
    "name": "",
    "group": "61c63e49f94550be",
    "order": 2,
    "width": 12,
    "height": 5,
    "label": "Évolution HRV",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aucune donnée",
    "dot": true,
    "ymin": "-100",
    "ymax": "100",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#d62728", "#ff9896", "#9467bd", "#c5b0d5", "#8c564b"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1260,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "a31aadc88731c64b",
    "type": "ui_chart",
    "z": "61f824452407f1ed",
    "name": "",
    "group": "61c63e49f94550be",
    "order": 3,
    "width": 12,
    "height": 5,
    "label": "Signal ECG Brut",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aucune donnée",
    "dot": false,
    "ymin": "0",
    "ymax": "1023",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1260,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "c4b71653a7890fb1",
    "type": "influxdb",
    "hostname": "localhost",
    "port": "8086",
    "protocol": "http",
    "database": "ecg_monitoring",
    "name": "InfluxDB Local",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "1.x",
    "url": "http://localhost:8086",
    "rejectUnauthorized": true
  },
  {
    "id": "98c50b7b55f9f055",
    "type": "ui_group",
    "name": "Alertes",
    "tab": "334f8589402cee91",
    "order": 3,
    "disp": true,
    "width": 12,
    "collapse": false,
    "className": ""
  },
  {
    "id": "8194346a87c815c7",
    "type": "ui_group",
    "name": "mesures",
    "tab": "334f8589402cee91",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "f458178b6f51e9a7",
    "type": "mqtt-broker",
    "name": "",
    "broker": "eu1.cloud.thethings.network",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "61c63e49f94550be",
    "type": "ui_group",
    "name": "Graphiques Temps Réel",
    "tab": "334f8589402cee91",
    "order": 2,
    "disp": true,
    "width": 12,
    "collapse": false,
    "className": ""
  },
  {
    "id": "334f8589402cee91",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "5dffce9f6975db0d",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-influxdb": "0.7.0",
      "node-red-dashboard": "3.6.6",
      "node-red-node-email": "3.0.3"
    }
  }
]
